
:root {
    --grey: #808080;
    --white: #ffffff;
    --purple: #da7eda;
    --yellow: #eaea6b;
  }
  html {
    margin: 0;
  }
  
  span {
    display: block;
  }
  .canvas {
    margin: 100px auto 100px;
    width: 80%;
    text-align: center;
  }
  
  .button {
    width: 100px;
    height: 100px;
    border: solid black 2px;
    display: inline-block;
  }
  
  #grey {
    background: grey;
  }
  
  #white {
    background: white;
  }
  #purple {
    background:#D0BCD5;
  }
  #yellow {
    background: rgb(220, 220, 74);
  }
  